body {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas: 
  ". header-element ."
  ". two ."
  ". three .";
  font-family:sans-serif, monospace;
  color:#330755;
  background-color: rgb(201, 172, 255);
  justify-content: center;
  margin: auto;
  max-width: 960px;
}

.header-element {
  grid-area: header-element;
  display: grid;
  align-items: center;
  justify-items: center;
  color: rgb(212, 190, 253);
  background-color:rgb(61, 7, 110);
  height: 75px;
  padding: 0px 15px;
  margin-top: 15px;
}

h1 {
  margin: 0;
}

main {
  grid-area: two;
  display: grid;
  max-width: 900px;
  margin: auto;
}

.paragraph {
  text-indent: 25px;
  margin: 15px 0px 50px 0px;
  font-size: 17px;
  font-style: italic;
}

.h2-element {
  margin-bottom: 0;
  color:rgba(60, 7, 110, 0.712);
}

.ladder {
  display: grid;
  margin: auto;
}

.neon-ladder {
  width: 100%;
  height: auto;
  border: solid 3px rgb(61, 7, 110);
  box-shadow: 10px 10px 5px rgb(170, 129, 216);

}

figcaption {
  background-color: rgb(61, 7, 110);
  color: rgba(255, 255, 255, 0.795);
  font-style:oblique;
  padding: 5px 15px;
  width: 290px;
  border: solid 3px rgb(61, 7, 110);
  box-shadow: 10px 10px 5px rgb(170, 129, 216);  
}

.koponyas:link {
  color:rgb(186, 167, 202);
  text-decoration: underline;
}

.koponyas:hover {
  color:rgb(245, 136, 255);
  text-decoration: none;
}

.koponyas:active {
  color:rgb(248, 228, 111);
  text-decoration: none;
}

.koponyas:visited {
  color:rgb(111, 136, 248);
  text-decoration: none;
}

.purple-power {
  margin-top: 50px;
}

.ordered-list-item1, .ordered-list-item2, .ordered-list-item3 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(61, 7, 110);
}

.unordered-list-item li::before {
  content: "\2605";
  margin-left: -10px;
  margin-right: 7px;
  color: rgb(61, 7, 110);
}

.unordered-list-item {
  padding: 5px 40px;
  list-style:none;
  color: #fffeffbd;
}

#form-one {
  display: grid;
  /* margin: 0px 40px 0px 30px; */
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.692);
  color: rgb(46, 0, 88);
  font-weight: 500;
  border-radius: 10px;
  border: solid;
  max-width: fit-content;
  
}

.form-question {
  margin: 20px 0px 5px 0px;
}

#color {
  display: block;
  width: 100px;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}

#submit {
  width: 75px;
  color: #ffffff;
  background-color: rgb(74, 5, 139);
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}



.foot-note:link {
  color: rgb(61, 7, 110);
}

footer {
  grid-area:three;
  margin:auto;
  text-align: center;
}